$background-color--main: #f3f7fa;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: $background-color--main;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
