.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;

  &__logo {
    height: 80px;
    pointer-events: none;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .header__logo {
    animation: rotation infinite 20s linear;
  }
}
